<div class="card-header">
    <div class="col">
        @*<div class="page-pretitle">
                @RutaOpcion
            </div>*@
        <h2 class="page-title">
            @Opcion
        </h2>
    </div>
    @if (Add_enabled)
    {
        <a href="#" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#modal-report" @onclick="Add">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Agregar
        </a>
    }

</div>

@code {
    [Parameter] public string RutaOpcion { set; get; }
    [Parameter] public string Opcion { set; get; }
    [Parameter] public bool Add_enabled { set; get; } = true;
    [Parameter] public EventCallback Add { set; get; }
}