@inherits LayoutComponentBase

<div class="wrapper">

    <HeaderMenu></HeaderMenu>
    <TopMenu></TopMenu>

    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                @Body
            </div>
        </div>
    </div>
</div>